
* {padding: 0; margin 0;}
body {font-family: sans-serif;}
	a { text-decoration: none; color: red;}
	li {list-style-type: none;}
	
header {
	width: 100%;
	height: 50px;
	margin: auto;
border-bottom: 1px solid #EEE;}

#brand {
	float: left;
line-height: 50px;
color: pink;
font-size: 25px;
font-weight: bolder;}
nav{ width: 100%;
text-align:center;}
nav a{display: block;
   padding: 15px 0;
   border-bottom: 1px solid #EEE;}

nav li:last-child a{border-bottom: none;}
nav a:hover {background:yellow; color: green;}

/*----------*/

.menu {
    width: 250px;
height: 100%;
position: absolute;
background: blue;
left: -240px;
transition: all.3s ease-in-out;}	
	
.menu-icon {
	padding: 10px 20px;
	background: red;
color:green;
cursor: pointer;
float: right;}

